/*基础颜色*/
$base:#0db3a6;
$border:#e9e9e9;
/*下拉列表*/
$list-hover:#e7f7f6;
$list-waring-text:#d84636;
/*按钮颜色*/
// 主要按钮
$btn-primary-hover:#56cac1;
$btn-primary-active:#0a8f85;
$btn-primary-text:#fff;
$btn-primary-base:#0db3a6;
$btn-primary-border:#0db3a6;
// 默认按钮
$btn-default-base: #fff;
$btn-default-border: #d9d9d9;
$btn-default-hover:#e9e9e9;
$btn-default-active:#dadada;
$btn-default-text: #1f2d3d;

/*输入框颜色*/
$input-focus:#0db3a6;


/*通讯录模块*/
// $address_btn_color:#0db3a6;
$address_btn_color:rgb(16,180,167);
$address_option_color:#e6f7f6;
$role_icon_color:#248AF9;
/*Element tabs颜色*/
$tab-border-color:#0DB3A6;

/*下拉框-流程图 颜色*/
$select-item-hover:#e6f7f6;
$select-item-selected:#0DB3A6;