::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: hsla(0,0%,50.2%,.5);
    border-radius: 6px;
}
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}