@font-face {
  font-family: "iconfont"; /* Project id 3288768 */
  src: url('//at.alicdn.com/t/font_3288768_kn5vjmfa1qj.woff2?t=1650782357885') format('woff2'),
       url('//at.alicdn.com/t/font_3288768_kn5vjmfa1qj.woff?t=1650782357885') format('woff'),
       url('//at.alicdn.com/t/font_3288768_kn5vjmfa1qj.ttf?t=1650782357885') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wf-youfanye-xue:before {
  content: "\e634";
}

.icon-wf-zuofanye:before {
  content: "\e773";
}

.icon-wf-contract:before {
  content: "\e938";
}

.icon-wf-liuchengtu:before {
  content: "\e629";
}

.icon-wf-expand:before {
  content: "\e62c";
}

.icon-wf-sidebar_retrak_hov:before {
  content: "\e68a";
}

.icon-wf-close:before {
  content: "\e7fc";
}

.icon-wf-youjiantou1:before {
  content: "\e628";
}

.icon-wf-shaixuan:before {
  content: "\e74a";
}

.icon-wf-zuixinchengji:before {
  content: "\e637";
}

.icon-wf-jiaose1:before {
  content: "\e679";
}

.icon-wf-wenjianjia:before {
  content: "\e600";
}

.icon-wf-weidaqiadewenjianjia:before {
  content: "\e610";
}

.icon-wf-lingdang:before {
  content: "\e61d";
}

.icon-wf-wochulide:before {
  content: "\e663";
}

.icon-wf-chaosongwode:before {
  content: "\e60d";
}

.icon-wf-a-135fadexinliucheng:before {
  content: "\e60e";
}

.icon-wf-resize-:before {
  content: "\e718";
}

.icon-wf-position:before {
  content: "\e60c";
}

.icon-wf-zoomout:before {
  content: "\e897";
}

.icon-wf-zoomin:before {
  content: "\e898";
}

.icon-wf-redo:before {
  content: "\e627";
}

.icon-wf-undo:before {
  content: "\e633";
}

.icon-wf-bofang:before {
  content: "\e8a3";
}

.icon-wf-xialajiantou:before {
  content: "\e60b";
}

.icon-wf-a-guanbi1:before {
  content: "\e60a";
}

.icon-wf-sousuo:before {
  content: "\e609";
}

.icon-wf-pc_tree:before {
  content: "\e6ab";
}

.icon-wf-tree:before {
  content: "\e608";
}

.icon-wf-shezhi1:before {
  content: "\e60f";
}

.icon-wf-wenhao:before {
  content: "\e605";
}

.icon-wf-jiaose:before {
  content: "\e606";
}

.icon-wf-role-list:before {
  content: "\e607";
}

.icon-wf-leave:before {
  content: "\e602";
}

.icon-wf-gongneng:before {
  content: "\e603";
}

.icon-wf-zuzhi:before {
  content: "\e604";
}

.icon-wf-roles:before {
  content: "\e601";
}

.icon-wf-task:before {
  content: "\e65d";
}

.icon-wf-shezhi:before {
  content: "\e68f";
}
